.button {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 0;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  appearance: none;
}
.button:hover {
  text-decoration: none;
}


.button-primary {
background-color: #5094f2;
color: #ffffff;
}

.button-primary:hover {
  background-color: #000000;
background-color: #ffffff;
color: #5094f2;
  
}

.button-responsive{
  padding: 12px;
  width: 100%;
  font-size: 31px;
}
