.section {
  padding-top: 15px;
}

.section .grid {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-title {
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 33px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
}

.section-image {
  max-height: 40vh;
  min-width: 200px;
  width: auto;
  margin-top: 15px;
}

.section figure {
  text-align: center;
}

.section-subtitle {
  color: #6f7173;
  font-family: "Segoe WPN";
  font-size: 24px;
  font-weight: 400;
  line-height: 44.42px;
  margin-bottom: 20px;
}


@media (min-width: 640px) {
  .section-title {
    font-size: 42px;
  }

  .section-subtitle {
    font-size: 34px;
  }
}

@media (min-width: 960px) {

  .section-cards {
    padding-top: 67px;
  }

  .section-image {
    max-height: 30vh;
    width: 100%;
  }

  .section-title {
    margin-top: 1px;
    margin-bottom: 33px;
  }

  .list-item {

    font-size: 15px;
  }

  .section-subtitle {
    color: #6f7173;
    font-family: "Segoe WPN";
    font-size: 26px;
    font-weight: 400;
    line-height: 44.42px;
  }

  .section-shopping {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .section-shopping.section .grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
